<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='../css/cart.css'>	
	</head>
	<body>
		<div class='b-minicart' id='minicart1'>
			<div class='b-minicart__button'>Корзина
				<div class='b-minicart__data'>Товаров: <span class="b-minicart__quantity">0</span> шт.</div>
				<div class='b-minicart__data'>Стоимость: <span class="b-minicart__total">0</span> грн.</div>
			</div>
			<div class='b-minicart__list'>
			<table class = 'b-goods b-goods_cart'>
				<tr class = 'b-good'>
					<td class = 'b-good__image-td'>
						<img src='' class='b-good__image'>
					</td>
					<td class = 'b-good__info'>
						<h3 class='b-good__name'></h3>
						<div class='b-good__price'></div>
						<form action='#' method='POST' class='b-order-form'>
							<input type='text' name = 'quantity' value='1' class='b-order-form__quantity'>
							<input type='button' value = '+' class='b-order-form__btn b-order-form__plus' data-step="1">
							<input type='button' value = '-' class='b-order-form__btn b-order-form__minus' data-step="-1">
							<input type='submit' value = 'OK' class='b-order-form__order'>
						</form>
					</td>
					<td class='b-good__delete-td'>
						<a href='#link-to-delete-good' class='b-good__delete'>DEL</a>
					</td>
				</tr>
				</table>
				<a href="" class="b-minicart__link">Оформить заказ</a>
                 <div class="b-minicart__order">
                  <form class="b-order" id="order1">
                  <div class="b-order__message"></div>
                  <input type="text" name="name" class="b-order__textfield b-order__textfield_name" placeholder="Имя">
                  <br><input type="text" name="email" class="b-order__textfield b-order__textfield_email" placeholder="E-mail">
                  <br><input type="text" name="tel" class="b-order__textfield b-order__textfield_tel" placeholder="Phone">
                  <br><input type="hidden" name="goods" class="b-order__textfield b-order__textfield_goods">
                  <br><input type="submit" value="OK" class="b-order__btn">
                  </form>
                 </div>
			</div>
		</div>

		<table class = 'b-goods' id='goods1'>
			<tr class = 'b-good b-good_id_82'>
				<td class = 'b-good__image-td'>
					<img src='../images/raptor.jpg' class='b-good__image'>
				</td>
				<td class = 'b-good__info'>
					<h3 class='b-good__name'>Raptor F-22</h3>
					<div class='b-good__description'>Описание Описание Описание Описание Описание Описание 1</div>
					<div class='b-good__price'>1000</div>
					<form action='#' method='POST' class='b-order-form'>
						<input type='text' name = 'quantity' value='1' class='b-order-form__quantity'>
						<input type='button' value = '+' class='b-order-form__btn b-order-form__plus' data-step="1">
						<input type='button' value = '-' class='b-order-form__btn b-order-form__minus' data-step="-1">
						<input type='submit' value = 'OK' class='b-order-form__order'>
					</form>
					<img src="../images/usa.jpg">
				</td>
			</tr>
			<tr class = 'b-good b-good_id_83'>
				<td class = 'b-good__image-td'>
					<img src='../images/mirage.jpg' class='b-good__image'>
				</td>
				<td class = 'b-good__info'>
					<h3 class='b-good__name'>Mirage 4000</h3>
					<div class='b-good__description'>Описание Описание Описание Описание Описание Описание 2</div>
					<div class='b-good__price'>2000</div>
					<form action='#' method='POST' class='b-order-form'>
						<input type='text' name = 'quantity' value='1' class='b-order-form__quantity'>
						<input type='button' value = '+' class='b-order-form__btn b-order-form__plus' data-step="1">
						<input type='button' value = '-' class='b-order-form__btn b-order-form__minus' data-step="-1">
						<input type='submit' value = 'OK' class='b-order-form__order'>
					</form>
					<img src="../images/France.jpg">
				</td>
			</tr>
			<tr class = 'b-good  b-good_id_84'>
				<td class = 'b-good__image-td'>
					<img src='../images/rafale.jpg' class='b-good__image'>
				</td>
				<td class = 'b-good__info'>
					<h3 class='b-good__name'>Dassault Rafale</h3>
					<div class='b-good__description'>Описание Описание Описание Описание Описание Описание 3</div>
					<div class='b-good__price'>3000</div>
					<form action='#' method='POST' class='b-order-form'>
						<input type='text' name = 'quantity' value='1' class='b-order-form__quantity'>
						<input type='button' value = '+' class='b-order-form__btn b-order-form__plus' data-step="1">
						<input type='button' value = '-' class='b-order-form__btn b-order-form__minus' data-step="-1">
						<input type='submit' value = 'OK' class='b-order-form__order'>
					</form>
					<img src="../images/France.jpg">
				</td>
			</tr>
			<tr class = 'b-good b-good_id_85'>
				<td class = 'b-good__image-td'>
					<img src='../images/tornado.jpg' class='b-good__image'>
				</td>
				<td class = 'b-good__info'>
					<h3 class='b-good__name'>Panavia Tornado IDS</h3>
					<div class='b-good__description'>Описание Описание Описание Описание Описание Описание 4</div>
					<div class='b-good__price'>4000</div>
					<form action='#' method='POST' class='b-order-form'>
						<input type='text' name = 'quantity' value='1' class='b-order-form__quantity'>
						<input type='button' value = '+' class='b-order-form__btn b-order-form__plus' data-step="1">
						<input type='button' value = '-' class='b-order-form__btn b-order-form__minus' data-step="-1">
						<input type='submit' value = 'OK' class='b-order-form__order'>
					</form>
					<img src="../images/germany.jpg">
				</td>
			</tr>
		</table>
		
		
		
		
		
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script src="../scripts/component.js"></script>
		<script src="../scripts/goods.js"></script>
		<script src="../scripts/cart.js"></script>
		<script src="../scripts/order.js"></script>
		
		
		<script>
			let cart1 = new Cart('#goods1', '#minicart1');
		</script>
	</body>
</html>